@model List<ClientApp.Models.Entities.Client>
@{ 

}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/client.png" alt="Clientes" class="rounded mx-auto" />
                </div>
            </div>
        </div>

        <h1>Listado de Clientes</h1>

        <div class="row mt-5">
            <div class="col text-center">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <td>Codigo</td>
                            <td>Nombre</td>
                            <td>Estado</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>
                                    <a href="./Details/@item.Code">@item.Name</a>
                                </td>
                                @if (item.State == 1)
                                {
                                    <td class="bg-primary">Activo</td>
                                }
                                else
                                {
                                    <td class="bg-secondary">Inactivo</td>
                                }
                            </tr>
                         }
                    </tbody>
                </table>
            </div>
        </div>
    </div>